* {
  margin: 0;
  padding: 0;
  box-sizing: ;
  background-color: #bdd7ee;
  width: 97%;
}
body {
  font-family: "Open Sans";
}
.grid-container {
  display: inline-flex;
  grid-template-areas: "left-section right-section";
  grid-gap: 40px;
}
.left-section {
  background: url("https://github.com/Chrisxoderemi/Christiana-Oderemi-Resume/blob/main/Chris.jpg?raw=true");
  height: 120vh;
  width: 200vh;
  grid-area: left-section;
  background-size: cover;
  background-position: center;
}
.right-section {
  grid-area: "right-section";
}

h1,
h2 {
  font-family: "Roboto";
  margin-bottom: 1rem;
}
.basic-information {
  padding: 20px 10px 20px 10px;
}
.bio {
  width: 100%;
}

.checked {
  color: white;
}
h1 {
  margin-bottom: 20px;
  font-weight: bolder;
  color: black;
}
h2 {
  margin-top: 2rem;
}

li {
  list-style: none;
  margin-bottom: 15px;
}

.educational-background {
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-areas: "left-section" "right-section";
  }
  .left-section {
    height: 225vh;
  }
  .right-section {
    width: 20rem;
  }
}
@media (max-width: 1100px) {
  .grid-container {
    grid-template-areas: "left-section" "right-section";
    grid-gap: 20px;
  }
  .left-section {
    height: 150vh;
    width: 150vh;
  }
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-areas: "left-section" "right-section";
    grid-gap: 20px;
    width: 90%;
    margin: auto;
  }
  .left-section {
    height: 75vh;
    width: 75vh;
    margin-left: 15%;
    margin-top: 10%;
  }
}
@media (max-width: 700px) {
  .grid-container {
    grid-template-areas: "left-section" "right-section";
    grid-gap: 20px;
    width: 90%;
    margin: auto;
  }
  .left-section {
    height: 40vh;
    width: 40vh;
    margin-left: 15%;
    margin-top: 10%;
  }
}
